.login-container {
    padding: 20px;  
    background-color: hwb(183 24% 4%);  
    border: 1px solid #ccc;  
    border-radius: 8px;  
    max-width: 400px;  
    margin: 0 auto;  
  }
  
  .login-form {
    display: flex;
    flex-direction: column; 
  }
  
  .login-form .form-label {
    font-weight: bold;  
  }
  
  .login-form .form-control {
    border-radius: 5px;  
  }
  
  .login-form .btn {
    align-self: flex-end;  
  }
  